<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jtbdevelopment.loseit2wp"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_li2wp">
        <activity android:name=".android.activities.EmailListView"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".android.activities.OAuthSettingsView" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="loseit2wp" android:host="callback"/>
            </intent-filter>
        </activity>
        <activity android:name=".android.activities.EmailPreview"
                  android:label="LoseIt2WPEmailView"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".android.activities.SettingsView"
                  android:label="LoseIt2WPSettings"
                  android:theme="@android:style/Theme.NoTitleBar"
                />
        <receiver android:name=".android.receivers.BootReceiver"
                  android:enabled="true"
                  android:exported="false"
                  android:label="LoseIt2WPBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true"
                  android:name=".android.receivers.MailMonitorReceiver"
                  android:exported="false"
                  android:label="LoseIt2WPMailMonitorReceiver">
        </receiver>
        <service android:enabled="true"
                 android:name=".android.services.MailMonitorService">

        </service>
    </application>

</manifest>
